{% extends 'base.html' %}
{% load static %}
{% block title %}
    Sacola
{% endblock %}

{% block content %}

    {#Cria-se uma linha #}
    <div class="row">
        {#Cria-se uma coluna com o tamanho de 12#}
        <div class="col-lg-12">
            {#Dentro dessa coluna cria-se duas "caixas" separadas por um br#}
            <div class="box-element">
                <a href="{% url 'store' %}" class="btn btn-outline-dark" style="border-radius: 5px">&#x2190; Continuar
                    Comprando</a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th>
                            <h5>Itens: <strong>3</strong></h5>
                        </th>
                        <th>
                            <h5>Total: <strong>R$ 42,78</strong></h5>
                        </th>

                        <th>
                            <a href="{% url 'checkout' %}" class="btn btn-success"
                               style="border-radius: 5px;float: right;margin:5px">Finalizar Compra</a>
                        </th>

                    </tr>


                </table>

            </div>
            <br>
            <div class="box-element">

                <div class="cart-row">
                    <div style="flex: 2"></div>
                    <div style="flex: 2"><strong>Item</strong></div>
                    <div style="flex: 1"><strong>Preço</strong></div>
                    <div style="flex: 1"><strong>Quantidade</strong></div>
                    <div style="flex: 1"><strong>Total</strong></div>
                </div>
                <div class="cart-row">
                    <div style="flex: 2"><img class="row-image" src="{% static 'images/placeholder.png' %}" alt="">
                    </div>
                    <div style="flex: 2">Product 1</div>
                    <div style="flex: 1">R$ 50,00</div>
                    <div style="flex: 1">
                        <p class="quantity">4</p>
                        <div class="quantity">
                            <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">

                            <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex: 1">R$ 200,00</div>
                </div>


            </div>
        </div>
    </div>


{% endblock %}