{% extends 'base.html' %}
{% load static %}
{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark btn-block" style="border-radius: 5px" href="{% url 'cart' %}">&#8592
                    Voltar para a sacola</a>
                <hr>
                <h3>Resumo do Pedido</h3>
                <br>
                <hr>

                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex: 2"><img class="row-image" src="{{ item.product.image_url }}" alt=""></div>
                        <div style="flex: 2">{{ item.product.name }}</div>
                        <div style="flex: 1">R$ {{ item.product.price }}</div>
                        <div style="flex: 1"><p class="quantity">{{ item.quantity }}x</p></div>
                    </div>
                {% endfor %}

                <h5>Itens: {{ order.get_total_cart_items }}</h5>
                <h5>Total: R$ {{ order.get_total_order }}</h5>
            </div>


        </div>


        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    {% if  not request.user.is_authenticated %}
                        <div id="user-info">
                            <div class="form-field">
                                <input required type="text" name="name" placeholder="Nome ..." class="form-control">
                            </div>

                            <div class="form-field">
                                <input required type="email" name="email" placeholder="E-mail ..." class="form-control">
                            </div>
                        </div>
                    {% else %}
                        {% for name in request.user.customer.name.split|slice:1 %}
                            <p id="msg-add-other-receiver" class=""><strong>{{ name }}</strong>, outra pessoa que vai
                                receber? <a id="add-other-receiver"
                                            style="color: goldenrod"
                                            href="#">Clique aqui</a>
                            </p>
                        {% endfor %}
                        <div id="other-receiver-info" class="hidden">
                            <h5>Alterar dados pessoais para envio?</h5>

                            <div class="form-field">
                                <input required type="text" name="name" placeholder="Nome ..." class="form-control"
                                       value="{{ request.user.customer.name }}">
                            </div>

                            <div class="form-field">
                                <input required type="email" name="email" placeholder="E-mail ..." class="form-control"
                                       value="{{ request.user.customer.email }}">
                            </div>
                        </div>
                    {% endif %}


                    {% if order.shipping %}
                        <div id="shipping-info">
                            <hr>
                            <h3>Informações de Envio</h3>
                            <hr>
                            <div class="form-field">
                                <input label="Endereço" required type="text" name="adress"
                                       placeholder="Endereço ..." class="form-control">
                            </div>


                            <div class="form-field"><input required type="text" name="city"
                                                           placeholder="Cidade ..." class="form-control">
                            </div>

                            <div class="form-field"><input required type="text" name="state"
                                                           placeholder="Estado ..." class="form-control">
                            </div>

                            <div class="form-field"><input required type="text" name="zipcode"
                                                           placeholder="CEP ..." class="form-control">
                            </div>

                            <div class="form-field"><input required type="text" name="country"
                                                           placeholder="País ..." class="form-control">
                            </div>


                        </div>

                    {% endif %}

                    <hr>
                    {#"btn-block" faz com que o button ocupe all space#}
                    <input id="form-button" type="submit" class="btn btn-success btn-block" value="Continue">
                </form>
            </div>

            <br>

            <div class="box-element hidden" id="payment-info">
                <a href="#" class="btn btn-outline-dark btn-block" id="edit-form" style="border-radius: 5px">&#8592
                    Editar Informações de Envio</a>
                <hr>
                <h3 style="align-content: center">Opções de Pagamento</h3>
                <hr>
                {#                Para whatsapp#}
                <a id="make-whatsapp-order"
                   href="#"
                   class="btn btn-outline-success btn-block" style="border-radius: 5px" type="button">Fazer
                    Pedido <img style="padding-left: 10px"
                                src="https://www.flaticon.com/svg/static/icons/svg/2111/2111728.svg" alt="" height="23"></a>

                {#                Outro tipo de finalização de pedido#}
                <!-- Set up a container element for the button -->
                <div id="paypal-button-container" style="padding-top: 20px"></div>
                {#                <button id="make-payment" class="btn btn-outline-dark btn-block"#}
                {#                        style="float: right; border-radius: 5px"#}
                {#                        type="button">Finalizar#}
                {#                    Pedido#}
                {#                </button>#}
                <br>
                <br>
                <br>
                <br>


            </div>


        </div>

    </div>

    {#LEMBRE QUE A OPÇÃO PAY WITH DEBIT OR CREDIT CARD SÓ IRÁ APARECER SE O SITE EM PRODUÇÃO POSSUIR certificado ssl#}
    {# Os botões e a configuração foram encontrados aqui: https://developer.paypal.com/demo/checkout/#/pattern/style#}
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AbAXjnus3rlmNSUDS_clB4GD6IKijcll67K3d-Tglz6Quk1hsATBWksjIYWmyi87nJkc0i7mUXGn4mK6&currency=BRL"></script>


    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            //É possivel customizar os botões, documentação aqui: https://developer.paypal.com/docs/archive/checkout/how-to/customize-button/#supported-locales

            style: {
                color: 'gold',
                label: 'pay',
                shape: 'rect',
            },


            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{ order.get_total_order }}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer
                    {#alert('Transaction completed by ' + details.payer.name.given_name + '!');#}
                    submitFormData();
                });
            }


        }).render('#paypal-button-container');
    </script>



    <script type="text/javascript">


        if (user != 'AnonymousUser') {
            var otherReceiverInfo = document.getElementById('other-receiver-info');
            var msgotherReceiverInfo = document.getElementById('msg-add-other-receiver');
            document.getElementById('add-other-receiver').addEventListener('click', function (event) {
                event.preventDefault();

                msgotherReceiverInfo.classList.add('hidden');
                otherReceiverInfo.classList.remove('hidden')


            })
        }


        var form = document.getElementById('form')
        form.addEventListener('submit', function (event) {

            event.preventDefault()
            console.log('Form Submmited!')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')

            //Para não permitir editar os campos depois que avançou para "Opçãoes de Pagamentos"
            var fields = document.getElementsByClassName('form-control')
            for (let i = 0; fields.length; i++) {
                fields[i].disabled = true;
            }
        })


        var editForm = document.getElementById('edit-form')

        editForm.addEventListener('click', function (event) {
            event.preventDefault();


            document.getElementById('form-button').classList.remove('hidden');
            document.getElementById('payment-info').classList.add('hidden');


            //Para não permitir editar os campos depois que avançou para "Opçãoes de Pagamentos"
            var fields = document.getElementsByClassName('form-control');
            for (let i = 0; fields.length; i++) {
                fields[i].disabled = false;
            }

        })


        function submitFormData() {
            var total =
            {{ order.get_total_order }}

            var userFormData = {
                'name': null,
                'email': null,
                'total': total,
            };

            var shippingFormData = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
                'country': null,
            };

            var shipping = '{{ order.shipping }}';
            if (shipping != 'False') {
                shippingFormData.address = form.adress.value;
                shippingFormData.city = form.city.value;
                shippingFormData.state = form.state.value;
                shippingFormData.zipcode = form.zipcode.value;
                shippingFormData.country = form.country.value;
            }


            if (user == 'AnonymousUser') {
                userFormData.name = form.name.value;
                userFormData.email = form.email.value;
            } else if (msgotherReceiverInfo.classList.contains('hidden')) {
                userFormData.name = form.name.value;
                userFormData.email = form.email.value;
                userFormData.otherUser = true;


            }

            console.log(userFormData);

            console.log(shippingFormData);

            //Agora fazer o fecht api para enviar dados pro backend
            var url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }, body: JSON.stringify({'userData': userFormData, 'shippingData': shippingFormData})


            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                console.log(data);
                alert('Compra realizada com sucesso!');
                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";

                window.location.href = '{% url 'store'%}';

            }).catch(function (error) {
                console.error(error);
            })
        }

        ////////////////// Whatsapp Order /////////////////////////////////

        document.getElementById('make-whatsapp-order').addEventListener('click', function (event) {
                event.preventDefault();
                //Pega os dados do usuário
                var userFormData = {
                    'name': form.name.value,
                    'email': form.name.value,
                };

                var shippingFormData = {
                    'address': null,
                    'city': null,
                    'state': null,
                    'zipcode': null,
                    'country': null,
                };

                var shipping = '{{ order.shipping }}';
                if (shipping != 'False') {
                    shippingFormData.address = form.adress.value;
                    shippingFormData.city = form.city.value;
                    shippingFormData.state = form.state.value;
                    shippingFormData.zipcode = form.zipcode.value;
                    shippingFormData.country = form.country.value;
                }


                if (user == 'AnonymousUser') {
                    userFormData.name = form.name.value;
                    userFormData.email = form.email.value;
                } else if (msgotherReceiverInfo.classList.contains('hidden')) {
                    userFormData.name = form.name.value;
                    userFormData.email = form.email.value;
                    userFormData.otherUser = true;


                }


                var contact = '5563992458980';

                //Faz processo de montagem da mensagem
                var break_line = '%0A';

                var whatsapp_order_text = 'Olá, gostaria de fazer um pedido: ' + break_line + break_line

                whatsapp_order_text += '-------- Itens do Pedido --------' + break_line

                {% for item in items %}
                    whatsapp_order_text += '*{{ item.quantity }}x*\t-\t{{ item.product.name }}\t-\t{{ item.product.price }}' + break_line
                {% endfor %}
                whatsapp_order_text += break_line;
                whatsapp_order_text += '-------- Dados do Pedido --------' + break_line
                {##Mostra os quantitativos#}
                whatsapp_order_text += '*Quantidade de Itens:* {{ order.get_total_cart_items }}' + break_line
                whatsapp_order_text += '*Total:* {{ order.get_total_order }}' + break_line

                whatsapp_order_text += '-------- OBSERVAÇÕES --------' + break_line;
                whatsapp_order_text += 'CRIAR UM CAMPO PARA OBSERVAÇÕES' + break_line;
                whatsapp_order_text += break_line;
                whatsapp_order_text += '-------- Dados de Envio --------' + break_line;
                whatsapp_order_text += 'Nome: ' + userFormData.name + break_line;
                whatsapp_order_text += 'Email: ' + userFormData.email + break_line;
                {% if order.shipping %}
                    whatsapp_order_text += 'País: ' + shippingFormData.country + break_line;
                    whatsapp_order_text += 'Estado: ' + shippingFormData.state + break_line;
                    whatsapp_order_text += 'Cidade: ' + shippingFormData.city + break_line;
                    whatsapp_order_text += 'CEP: ' + shippingFormData.zipcode + break_line + break_line;
                    whatsapp_order_text += 'Endereço: ' + shippingFormData.address + break_line;
                {% endif %}
                whatsapp_order_text += '---------------------' + break_line;
                whatsapp_order_text += 'by Focus Store';


                window.location.href = 'https://api.whatsapp.com/send/?phone=' + contact + '&text=' + whatsapp_order_text

            }
        );


    </script>


{% endblock %}




