{% extends 'base.html' %}
{% load static %}
{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}


                    <div id="user-info">

                        <div class="form-field">
                            <input required type="text" name="name" placeholder="Nome ..." class="form-control">
                        </div>

                        <div class="form-field">
                            <input required type="email" name="email" placeholder="E-mail ..." class="form-control">
                        </div>
                    </div>


                    <div id="shipping-info">
                        <hr>
                        <p>Informações de Envio</p>
                        <hr>
                        <div class="form-field">
                            <input label="Endereço" required type="text" name="adress"
                                   placeholder="Endereço ..." class="form-control">
                        </div>


                        <div class="form-field"><input required type="text" name="city"
                                                       placeholder="Cidade ..." class="form-control">
                        </div>

                        <div class="form-field"><input required type="text" name="state"
                                                       placeholder="Estado ..." class="form-control">
                        </div>

                        <div class="form-field"><input required type="text" name="zipcode"
                                                       placeholder="CEP ..." class="form-control">
                        </div>

                        <div class="form-field"><input required type="text" name="country"
                                                       placeholder="País ..." class="form-control">
                        </div>


                    </div>

                    <hr>
                    {#"btn-block" faz com que o button ocupe todo os espaço#}
                    <input type="submit" class="btn btn-success btn-block" value="Continue">


                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Opções de Pagamento</small>
            </div>


        </div>
        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark btn-block" style="border-radius: 5px" href="{% url 'cart' %}">&#8592
                    Voltar para a sacola</a>
                <hr>
                <h3>Resumo do Pedido</h3>
                <br>
                <hr>
                <div class="cart-row">
                    <div style="flex: 2"></div>
                    <div style="flex: 2"><strong>Item</strong></div>
                    <div style="flex: 1"><strong>Preço</strong></div>
                    <div style="flex: 1"><strong>Quantidade</strong></div>
                </div>
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex: 2"><img class="row-image" src="{{ item.product.image_url }}" alt=""></div>
                        <div style="flex: 2">{{ item.product.name }}</div>
                        <div style="flex: 1">R$ {{ item.product.price }}</div>
                        <div style="flex: 1"><p class="quantity">{{ item.quantity }}</p></div>
                    </div>
                {% endfor %}

                <h5>Itens: {{ order.get_total_cart_items }}</h5>
                <h5>Total: R$ {{ order.get_total_order }}</h5>
            </div>


        </div>
    </div>
{% endblock %}