{% extends 'base.html' %}

{% block content %}

    {% include 'accounts/status.html' %}

    <div class="col-md-12">
        <h5>MEUS PEDIDOS</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Transação</th>
                    <th>Data</th>
                    <th>Status</th>
                </tr>

                {% for order in orders %}
                    {% if  not order.status == 'In the cart' %}
                        <tr>
                            <td>{{ order.transaction_id }}</td>
                            <td>{{ order.date_orderd }}</td>
                            <td>{{ order.status }}</td>

                        </tr>

                    {% endif %}
                {% endfor %}


            </table>
        </div>
    </div>
{% endblock %}