<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}"/>

    <title>{% block title %}{% endblock %}</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {#Já com a página carregando no escopo, quero ter acesso ao user para saber se ele está logado ou não caso não esteja será retornado "AnonymousUser" #}
    <script type="text/javascript">
        var user = '{{ request.user }}';

        /*
        * Como para realizar sempre é preciso usar o csrf_token, e nós não estávamos dentro de uma tag html form
        * precisamos buscar o csfr_token da página e assim conseguir validar o acesso. Passos em https://docs.djangoproject.com/en/3.1/ref/csrf/
        * */
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getToken('csrftoken');

        {#Serve para pegar o cookie dos produtos no carrinho de um usuário não logado#}
        function getCookie(name) {
            //Divide a streing cookie e pega todos individualmente name=value pares e coloca num array
		    var cookieArr = document.cookie.split(";");

		    // Verifica todos os elementos do array
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

                /*Remove-se os possíveis espaços em branco do name do cookie desejado com os da lista criada*/
		        if(name == cookiePair[0].trim()) {
                    //Decodifica o valor do cookie e retorna
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}


		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)


    </script>


</head>
<body>
{% include 'snippet/navbar.html' %}




<div class="container main">
    {% block content %}
    {% endblock %}
</div>


{% include 'snippet/footer.html' %}
</body>
</html>


